* {margin: 0%; padding: 0%;}
body 
{
    background-color: #4a3e4f;
    overflow-x: hidden;
}
#select {color: #c9b655;text-decoration: underline;}
.cabecera
{
    width: 100%;
    height: 10%;
    background-color: #382b3d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecera a
{
    text-decoration: none;
    color: #c7bccc;
    font-size: 25px;
    font-weight: bold;
    margin-left: 5%;
    margin-left: 5%;
    transition: transform .3s;
}
.cabecera a:hover
{
    text-decoration: underline;
    color: #c9b655;
    transform: scale(1.2);
}
.contenido
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}
#main
{
    flex-direction: column;
}
.subcont
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    width: 40%;
    background-color: rgba(178,177,192,.2);
    border-radius: 15px;
    overflow: hidden;
}
.subcont a
{
    text-decoration: none;
    color: #c7bccc;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subcont a p
{
    background-color: #382b3d;
    text-align: center;
    width: 100%;
}
#subcontimg_gi
{
    width: 90%;
}
#subcontimg_hsr
{
    width: 70%;
}
.bar
{
    width: 80%;
    height: 10%;
    background-color: #382b3d;
    margin-top: 1%;
    text-align: center;
    font-size: 40px;
    color: #c7bccc;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 15px;
}
.buildcont
{
    margin-left: 40%;
    margin-top: 1%;
    width: 100%;
    height: 600px;
}
iframe
{
    border-radius: 15px;
}